@use '../../../shared/styles/variables';
@use '../../../shared/styles/shapes';

.star-container {
    padding-right: 20px;

    outline: none;
    border: none;
    background: transparent;

    &:hover {
        cursor: pointer;
    }
}
