@use '../../../styles/colors';
@use '../../../styles/variables';
// @use '../../../styles/shapes';

// $size: 30px;

.header {
    background-color: colors.$blue;
    width: auto;
    height: 70px;

    margin: variables.$leftRightMargin;
    padding: 0 40px;
    border-radius: variables.$borderRadius;

    color: colors.$white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    // используй `&`
    .header__page-name {
        font-size: 1.8rem;
    }

    .header__stared-container {
        display: flex;
        justify-content: center;
        align-items: center;

        *:first-child {
            margin-right: 10px;
        }

        // у одного компонента должен быть один файл стилей
        // .star {
        //     @include shapes.star(colors.$white, $size);
        // }
    }
}
