@use '../../../../../shared/styles/variables';

$squareSize: 25px;

@mixin checkboxAnimation($scale) {
    transform: scale($scale);
    transition: transform 0.1s ease;
    transform-origin: center;
}

.part-of-speech__container {
    display: flex;
    justify-content: start;
    align-items: center;

    margin: 15px 10px;

    &:hover {
        cursor: pointer;
    }

    label {
        font-size: 1.1rem;

        &:hover {
            cursor: pointer;
        }
    }

    input[type='checkbox'] {
        appearance: none;

        width: $squareSize;
        height: $squareSize;

        margin-right: 8px;

        background-color: variables.$white;

        border: none;
        border-radius: 5px;

        display: grid;
        place-items: center;

        &:hover {
            cursor: pointer;
        }

        &::after {
            $decreaseSize: 9px;

            position: relative;
            content: '';

            background-color: variables.$black;

            border-radius: 3px;

            @include checkboxAnimation(0);

            width: calc($squareSize - $decreaseSize);
            height: calc($squareSize - $decreaseSize);
        }

        &.active::after {
            @include checkboxAnimation(1);
        }
    }
}
