@use '../../../../../styles/variables';

$squareSize: 25px;

.part-of-speech__container {
    display: flex;
    justify-content: start;
    align-items: center;

    margin: 15px 10px;

    .part-of-speech__name {
        font-size: 1.1rem;
    }

    .part-of-speech__checkbox {
        width: $squareSize;
        height: $squareSize;

        margin-right: 8px;

        background-color: variables.$white;

        border: none;
        border-radius: 5px;

        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            cursor: pointer;
        }

        &.active::after {
            $decreaseSize: 9px;

            position: relative;
            content: '';

            width: calc($squareSize - $decreaseSize);
            height: calc($squareSize - $decreaseSize);

            background-color: variables.$black;

            border-radius: 3px;
        }
    }
}
