@use 'shared/styles/variables';

$checkboxSize: 20px;
$checkArrowSize: calc($checkboxSize - 2px);

.checkbox-wrapper {
    margin-top: 7px;

    label {
        display: flex;
        justify-content: start;
        align-items: start;

        &:hover {
            cursor: pointer;
        }

        .real-checkbox {
            width: 0;
            height: 0;
            opacity: 0;
            position: absolute;
            z-index: -1;

            &:checked {
                + .custom-checkbox .check-icon {
                    transform: scale(1);
                }
            }

            &:focus {
                + .custom-checkbox {
                    border: 1px solid black;
                }
            }
        }

        .custom-checkbox {
            display: inline-grid;
            place-content: center;

            width: $checkboxSize;
            height: $checkboxSize;

            background-color: variables.$white;
            border-radius: 4px;

            .check-icon {
                position: relative;
                width: $checkArrowSize;
                height: $checkArrowSize;

                transform: scale(0);
                transition: all 0.1s ease-in;
            }
        }

        .text {
            margin-left: 7px;
        }
    }
}
