@use '../../styles/colors';
@use '../../styles/variables';

$iconSize: 30px;

.input {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0px 10px;

    border: 2px solid colors.$blue;
    border-radius: variables.$borderRadius;

    background-color: colors.$white;

    .input__icon {
        width: $iconSize;
        height: $iconSize;

        opacity: 0.6;
    }

    .input__form {
        background-color: white;
        height: 40px;

        font-size: 1.3rem;

        margin: 0 10px;

        border: none;
        outline: none;
    }
}
