@use '../../../styles/colors';
@use '../../../styles/variables';
@use '../../../styles/shapes';

$starSize: 30px;

.word-definition-wrapper {
    border-radius: variables.$borderRadius;

    background-color: colors.$white;

    &:hover {
        cursor: pointer;
    }

    &.expanded-padding-bottom {
        padding-bottom: 10px;
    }
}

.line {
    content: '';

    position: relative;

    left: 50%;
    transform: translateX(-50%);

    width: 97%;
    height: 2px;

    margin-bottom: 10px;

    background-color: colors.$darkGray;
}

.word-definition-card {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    %star-base {
        margin-right: 20px;

        &:hover {
            cursor: pointer;
        }
    }

    .blue-star {
        @include shapes.star(colors.$blue, $starSize);
        @extend %star-base;
    }

    .transparent-star {
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;

        @extend %star-base;
        @include shapes.star(colors.$blue, $starSize);

        &::before {
            content: '';
            position: relative;
            @include shapes.star(colors.$white, calc($starSize - 10px));
        }
    }
}

.word-definition-card__word-info {
    display: flex;
    justify-content: start;
    align-items: center;

    width: 100%;

    * {
        margin: 0 12px;
    }

    .word-definition-card__name {
        text-wrap: nowrap;
        flex-shrink: 0;
        font-size: 1.3rem;
        font-weight: 500;
    }

    .word-definition-card__part-of-speech {
        font-size: 1rem;
        font-style: italic;
    }

    .word-definition-card__definition {
        font-size: 1.1rem;

        max-width: 60ch;

        overflow: hidden;
        text-overflow: ellipsis;
        text-wrap: nowrap;
    }
}
