@use '../../shared/styles/variables';

.container {
    display: flex;
    margin: 40px variables.$leftRightMargin;

    &__inner-left {
        padding: 20px;
        background-color: variables.$darkGray;
    }

    &__inner-right {
        width: 100%;
    }
}
